<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ firstName }} {{ lastName }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item lines="none"> <ion-img src="{{ avatar }}"></ion-img></ion-item>
          <ion-item lines="none"><strong>Email: &nbsp; &nbsp;</strong>  <a href="{{ email }}">{{ email }}</a></ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>   
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>